{% extends 'base.html.twig' %}

{% block title %}Editer un e-mail{% endblock %}

{% block body %}
    <h1 class="content-index_title">Editer une adresse e-mail</h1>

    {{ include('newsletter/_form.html.twig', {'button_label': 'Mettre à jour'}) }}
    
    <div class="message-link_container">
        <a class="message-index_link" href="{{ path('newsletter_index') }}">Retour</a>
    </div>

    <div class="message-index_link">{{ include('newsletter/_delete_form.html.twig') }}</div>
{% endblock %}
