{% extends 'base.html.twig' %}

{% block title %}Editer un service{% endblock %}

{% block body %}
    <h1 class="content-index_title">Editer un service</h1>

    {{ include('service/_form.html.twig', {'button_label': 'Update'}) }}

    <div class="message-link_container">
        <a class="message-index_link" href="{{ path('service_index') }}">Retour</a>
    </div>

    {{ include('service/_delete_form.html.twig') }}
{% endblock %}
