{% extends 'base.html.twig' %}

{% block title %}Edit Presentation{% endblock %}

{% block body %}
    <h1 class="presentation-index__title">Editer un paragraphe :</h1>
    <div class="presentation-edit__form">
        {{ include('presentation/_form.html.twig', {'button_label': 'Mettre à jour'}) }}
        <a class="presentation-edit__button" href="{{ path('presentation_index') }}">Retour</a>
    </div>
    {{ include('presentation/_delete_form.html.twig') }}
{% endblock %}
