{% extends 'base.html.twig' %}

{% block title %}Présentation - Modification{% endblock %}

{% block body %}
    <h1 class="presentation-add__title">Ajouter une nouvelle partie à la présentation :</h1>
    
    {{ include('presentation/_form.html.twig') }}

    <div class="return-button-container">
        <a class="presentation-add__return-button" href="{{ path('presentation_index') }}">Retour</a>
    </div>
{% endblock %}
