{% extends 'base.html.twig' %}

{% block title %}
    {{ 'contact.message1'|trans }}
{% endblock %}

{% block body %}
<section class="response">
<p class="response_paragraph">{{ 'contact.message2'|trans }}</p>
<p class="response_paragraph">{{ 'contact.message3'|trans }}</p>
<p class="response_paragraph">{{ 'contact.message4'|trans }}</p>
</section>
{% endblock %}