{% extends 'base.html.twig' %}

{% block title %}
    Votre message a été envoyé !
{% endblock %}

{% block body %}
<section class="response">
<p class="response_paragraph">Merci !</p>
<p class="response_paragraph">Votre message a bien été envoyé, je vous recontacterai dès que possible.</p>
<p class="response_paragraph">A bientôt !</p>
</section>
{% endblock %}