{% extends 'base.html.twig' %}

{% block title %}
    Vous êtes abonné !
{% endblock %}

{% block body %}
<section class="response">
<p class="response_paragraph">Merci !</p>
<p class="response_paragraph">Vous êtes désormais abonné à la newsletter.</p>
<p class="response_paragraph">A bientôt !</p>
</section>
{% endblock %}