.message-link_container {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    margin-bottom: 1rem;
    padding-top: 4rem;
}

.message-index_link {
    font-family: $title-font;
    font-size: 1rem;
    padding: 1rem;
    color:$section-title-color;
    border-radius: 5px;
    width: 23%;
    margin: auto;
    text-align: center;
}

.message-index_link:hover {
    text-decoration: none;
    color: $link-is-hover;
}

.delete-button {
    font-size: 1.5rem;
    padding: 0;
    background-color: $section-title-color;
    color: $clear-part-color;
    border-radius: 5px;
    width: 100%;
    margin: auto;
    text-align: center;
    border-style: none;
}

.delete-button:hover {
    text-decoration: none;
    color: $link-is-hover; 
}

.update-link {
    font-size: 1.5rem;
    padding: 0;
    background-color: $section-title-color;
    color: $clear-part-color;
    border-radius: 5px;
    width: 100%;
    margin: auto;
    text-align: center;
    border-style: none;
}

.update-link:hover {
    text-decoration: none;
    color: $link-is-hover; 
}

.content-index_title {
    color: $section-title-color;
    margin: 2rem;
    padding-top: 6rem;
    text-align: center;
}

.table {
    width: 80%;
    margin-left: 10%;
    margin-bottom: 3rem;
}

.admin-table_link {
    color: $section-title-color;
}

.admin-table_link:hover {
    color: $link-is-hover;
    text-decoration: none;
}
