.response{
    display:flex;
    flex-direction: column;
    width: 80%;
    height: 70vh;
    margin-left:10%;
    margin-top: 1rem;
    margin-bottom: 1rem;
    text-align: center;
}
.response_paragraph{
    margin:auto;
    font-family:$titre_police;
    color: $section-title-color;
    font-size: 1.5rem;
    margin: 1rem;
}
@media screen and (min-width:769px){
    .response{
        width: 60%;
        height: 70vh;
        margin-left:20%;
        margin-top: 3rem;
        margin-bottom: 3rem;
    }
    .response_paragraph{
        margin:auto;
        font-family:$titre_police;
        font-size: 2.5rem;
        margin: 1.5rem;
    }
}