.navbar {
    background-color: $clear-part-color;
    min-height: 8vh;
    padding: 0;
    width: 100%;
    position: fixed;
}

.nav-lien {
    color: $section-title-color;
}

.nav-lien:hover {
    color: $link-is-hover;
    text-decoration: none;
}

.nav-item {
    margin: 0.3rem;
}

@media screen and (min-width:769px) {
    .nav-item {
        padding: 1rem;
    }
}