$titre_police:'Rufina', serif;
$text_police: 'Alice', serif;
$primary-color: #f76c6c;
$secondary-color: #f99797;
$warm-color: #ffd64f;
$color-for-link:#636980;
$link-is-hover: #343a40;
$admin-title-color:#282828;
$section-title-color:#327843;
$clear-part_color: #ffffee;
