{% extends 'base.html.twig' %}

{% block title %}Mon blog{% endblock %}

{% block body %}
    <h1 class="blog_main-title">Le blog du French Copywriter</h1>
    <section class="blog-article_body">
        <h2 class="blog_title">{{ blog.subtitle }}</h1>
        <p class="blog_paragraph">{{ blog.publication }}</p>
        <a class="blog_return-link" href="{{ path('app_article') }}">Retour</a>
    </section>
    
{% endblock %}