{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="blog_main-title">Consultez mes articles</h1>
    <table class="table">
        <thead>
            <tr>
                <th>Titre</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for blog in blogs %}
                <tr>
                    <td>{{ blog.title }}</td>
                    <td>
                        <a class="admin-table_link" href="{{ path('blog_show_public', {'id': blog.id}) }}">Découvrir</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="5">no records found</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}