<form class="message-index_link" method="post" action="{{ path('message_delete', {'id': message.id}) }}" onsubmit="return confirm('Êtes-voussûr de vouloir supprimer ?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ message.id) }}">
    <button class="delete-button">Supprimer</button>
</form>
