
{% block footer %}
    <ul class="ul_copywriter">
        <div class= "box-footer">
            <li class="nav-lifooter"><a class="footer_link" href="#">Mentions légales</a></li>
            <li class="nav-lifooter"><a class="footer_link" href="#">Newsletter</a></li>
        </div>
    </ul>
{% endblock %}
