
{% block footer %}
    <ul class="ul_copywriter">
        <div class= "box-footer">
            <li class="nav-lifooter"><a href="#">Mentions légales</a></li>
            <li class="nav-lifooter"><a href="#">Newsletter</a></li>
        </div>
    </ul>
{% endblock %}
