{% extends 'base.html.twig' %}{% block body %}
    <h1 class="mention-index_title">Mentions légales</h1>    <h2 class="mention-index_title">Identification de l'éditeur</h2>
    <p class="mention-index_paragraph">Direction de l'information légale et administrative 26, rue Desaix 75727 Paris Cedex 15</p>
    <p class="mention-index_paragraph">Standard : 00 00 00 00 00</p>
    <p class="mention-index_paragraph">N° SIREN : 000-000-000</p>
    <p class="mention-index_paragraph">N° SIRET : 000-000-000 00000</p>
    <p class="mention-index_paragraph">Code APE : 5813Z / Édition de journaux</p>    <h2 class="mention-index_title">Directeur de la publication</h2>
    <p class="mention-index_paragraph">« Au sens de l'article 93-2 de la loi n° 82-652 du 29 juillet 1982. »</p>    <h2 class="mention-index_title">Prestataire d'hébergement</h2>
    <p class="mention-index_paragraph">Direction de l'information légale et administrative 00, rue Inconnue 37100 Tours</p>
    <p class="mention-index_paragraph">Pour sylvain Lecerten</p>
    <p class="mention-index_paragraph">00 Rue de l'inconnue-bis</p>
    <p class="mention-index_paragraph">37100 Tours</p>
    <p class="mention-index_paragraph">Tél : +33 (0)0 00 00 00 00</p>    
    <div class="mention-link_container">
        <a class="mention-index_link" href="{{ path('app_index') }}">Page d'acceuil</a>
    </div>
{% endblock %}