{% extends 'base.html.twig' %}

{% block title %}
    Who AmI ?
{% endblock %}

{% block body %}
    <section class="presentation_intro">
        <h1 class="who_am_i">The French Copywriter</h1>
        <h2 class="sb_who_am_i">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam ut euismod lorem. Proin congue mattis.</h2>
    </section>
    <section class="presentation_section">
        <div class="presentation_detail">
            <img src="images/chibi.jpeg" class="presentation_img" alt="illustration">
            <div class="presentations">
                {% for presentation in presentations %}
                    <div class="presentation_part">
                        <h2 class="presentation_title">{{ presentation.title }}</h2>
                        <h3 class="presentation_subtitle">{{ presentation.subtitle }}</h2>
                        <p class="presentation_paragraph">{{ presentation.paragraph}}</p>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
    <section>
        <h1 class="centrage-services">Services</h1>
        <div class="row row-cols-1 row-cols-md-3">
            <div class="col mb-4">
                <div class="card">
                 <img src="..." class="card-img-top" alt="...">
                    <div class="card-body" class"color-fond-card">
                        <h5 class="card-title">service 1</h5>
                        <p class="card-text">Iam in altera philosophiae parte. quae est quaerendi ac disserendi, quae logikh dicitur, iste vester plane, ut mihi quidem videtur, inermis ac nudus est. tollit definitiones, nihil de dividendo ac partiendo docet,</p>
                    </div>
                </div>
        </div>
        <div class="col mb-4">
            <div class="card">
                <img src="..." class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">service 2</h5>
                        <p class="card-text">Iam in altera philosophiae parte. quae est quaerendi ac disserendi, quae logikh dicitur, iste vester plane, ut mihi quidem videtur, inermis ac nudus est. tollit definitiones, nihil de dividendo ac partiendo docet,</p>
                    </div>
            </div>
        </div>
            <div class="col mb-4">
                <div class="card">
                    <img src="..." class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">service 3</h5>
                            <p class="card-text">Iam in altera philosophiae parte. quae est quaerendi ac disserendi, quae logikh dicitur, iste vester plane, ut mihi quidem videtur, inermis ac nudus est. tollit definitiones, nihil de dividendo ac partiendo docet,</p>
                        </div>
                </div>
            </div>
            <div class="col mb-4">
                <div class="card">
                    <img src="..." class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">service 4</h5>
                            <p class="card-text">Iam in altera philosophiae parte. quae est quaerendi ac disserendi, quae logikh dicitur, iste vester plane, ut mihi quidem videtur, inermis ac nudus est. tollit definitiones, nihil de dividendo ac partiendo docet,</p>
                        </div>
                </div>
            </div>
            <div class="col mb-4">
                <div class="card">
                    <img src="..." class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">service 5</h5>
                            <p class="card-text">Iam in altera philosophiae parte. quae est quaerendi ac disserendi, quae logikh dicitur, iste vester plane, ut mihi quidem videtur, inermis ac nudus est. tollit definitiones, nihil de dividendo ac partiendo docet,</p>
                        </div>
                </div>
            </div>
            <div class="col mb-4">
                <div class="card">
                    <img src="..." class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">service 6</h5>
                            <p class="card-text">Iam in altera philosophiae parte. quae est quaerendi ac disserendi, quae logikh dicitur, iste vester plane, ut mihi quidem videtur, inermis ac nudus est. tollit definitiones, nihil de dividendo ac partiendo docet,</p>
                        </div>
                </div>
            </div>

    
    
    </section>
{% endblock %}
