{% extends 'base.html.twig' %}

{% block title %}
    Who AmI ?
{% endblock %}

{% block body %}
    <section class="presentation_intro">
        <h1 class="who_am_i">The French Copywriter</h1>
        <h2 class="sb_who_am_i">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam ut euismod lorem. Proin congue mattis.</h2>
    </section>
    <section class="presentation_section">
        <div class="presentation_detail">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRFbGbRhmxEkHjKcbbGs8DItEpqEGuSTBRiGnC76RvKrdO03iiZlA&s" class="presentation_img" alt="illustration">
            <div class="presentations">
                {% for presentation in presentations %}
                    <div class="presentation_part">
                        <h2 class="presentation_title">{{ presentation.title }}</h2>
                        <h3 class="presentation_subtitle">{{ presentation.subtitle }}</h2>
                        <p class="presentation_paragraph">{{ presentation.paragraph}}</p>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}