{% extends 'base.html.twig' %}
{% block title %}
    <h1>Who AmI ?</h1>
{% endblock %}
{% block body %}
    <section class="presentation-intro">
        <h1>WHO AM I ?</h1>
        <h2>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam ut euismod lorem. Proin congue mattis.</h2>
    </section>
    <section class="presentation-detail">
        <img class="presentation-img" src="" alt="illustration">
        {% for presentation in presentations %}
            <div class="presentation-part">
                <h2 class="presentation-title">{{ presentation.title }}</h2>
                <h3 class="presentation-subtitle">{{ presentation.subtitle }}</h2>
                <p class="presentation-paragraph">{{ presentation.paragraph}}</p>
            </div>
        {% endfor %}
    </section>
{% endblock %}